<ion-view title="About Us" id="page13">
  <ion-content padding="true" class="has-header">
    <h2 id="aboutUs-heading3" style="color:#000000;font-weight:300;">BloodLet</h2>
    <div id="aboutUs-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Over View</strong>
        <br>
          This application is developed with the intention of helping people who are in emergency situations and need blood. Everyday we see many people dying just because they dont get blood in time. So this a small thought to help people.
          We never force people to donate blood. We make bridge between donor and receptor. Donor volunteerly gives bloodd and we allow only majors to donate blood<br>
      </p>
    </div>
    <div id="aboutUs-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Team</strong>
         Maintenance: Lokesh<br>
                      Soujanya<br>
                      Omkar<br>
      </p>
    </div>
    <div id="aboutUs-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Gallery</strong>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" id="bloodCamps-slider2" style="width:100%;height:200px;">
      <ion-slide-page id="bloodCamps-slide211" style="background:url(img/zrmbKFSQaVjDfHCkTCAh_images3.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="bloodCamps-slide213" style="background:url(img/wD83ARdTN2ScwUY9rmAj_download.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="bloodCamps-slide212" style="background:url(img/MqOUNcAmTZuIZucI0xCn_Pic4.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
      </p>
    </div>
    <div id="aboutUs-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Past activities</strong>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" id="bloodCamps-slider2" style="width:100%;height:200px;">
      <ion-slide-page id="bloodCamps-slide211" style="background:url(img/pa1.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="bloodCamps-slide213" style="background:url(img/pa2.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="bloodCamps-slide212" style="background:url(img/pa3.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="bloodCamps-slide212" style="background:url(img/pa4.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="bloodCamps-slide212" style="background:url(img/pa5.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
      </p>
    </div>
    <div id="aboutUs-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Results till date</strong>
        Blood Camps: 10<br>
        Donors: 1000<br>
        Receptors: 2569<br>
        No.of lives saved: 2560<br>
      </p>
    </div>
  </ion-content>
</ion-view>