<ion-view title="Contact Us" id="page12">
  <ion-content padding="true" class="has-header">
    <h1 id="contactUs-heading1" style="color:#000000;"></h1>
    <h1 id="contactUs-heading2" style="color:#000000;font-weight:300;">Contact Us:</h1>
    <div id="contactUs-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">
      In case of urgent situations or for any queries, you can also contact us on: 1234567890<br><br><br>
      You can also drop your mails @: emergency@bloodLet.com
      </p>
    </div>
  </ion-content>
</ion-view>