<ion-view title="Forgot Password" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="forgotPassword-form4" class="list">
      <ion-list id="forgotPassword-list5">
        <label class="item item-input" id="forgotPassword-input10">
          <span class="input-label">Email ID</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="forgotPassword-input11">
          <span class="input-label">ContactNumber</span>
          <input type="tel" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="oTP" id="forgotPassword-button6" class="button button-positive  button-block">Submit</a>
    </form>
  </ion-content>
</ion-view>