<ion-view title="Login" id="page5">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="login-form1" class="list">
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Username</span>
          <input type="text" ng-model="login.username" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" ng-model="login.password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
     <!--ui-sref="tabsController.bloodCamps" -->
      <button  id="login-button1" class="button button-positive  button-block" ng-click="login()">Log in</button>
      <a ui-sref="forgotPassword" id="login-button10" class="button button-assertive  button-block">Forgot password</a>
      <a ui-sref="createAnAccount" id="login-button2" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>