<ion-view title="Transfusion Request" id="page17">
  <ion-content padding="true" class="has-header">
    <form id="transfusionRequest-form9" class="list">
      <label class="item item-input" id="transfusionRequest-textarea19">
        <span class="input-label">Name</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="transfusionRequest-textarea20">
        <span class="input-label">Location</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="transfusionRequest-textarea21">
        <span class="input-label">Contact Number</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="transfusionRequest-textarea22">
        <span class="input-label">Hospital name</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="transfusionRequest-textarea23">
        <span class="input-label">No.of Units Required</span><textarea placeholder=""></textarea></label>
    </form>
    <div id="transfusionRequest-button-bar1" class="button-bar">
      <a ui-sref="tabsController.bloodCamps" id="transfusionRequest-button16" class="button button-assertive  button-block">Reject</a>
      <a ui-sref="tabsController.bloodCamps" id="transfusionRequest-button17" class="button button-positive  button-block">Accept</a>
    </div>
  </ion-content>
</ion-view>